{
    "tabWidth": 4,
    "useTabs": false,
    "formatOnSave": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "singleAttributePerLine": true
}
